{% extends 'auth.html.twig' %}

{% block title %}Member register{% endblock %}

{% block body %}
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="card mb-4 mx-4">
                        {{ form_start(form) }}
                        <div class="card-body p-4">
                            <h3>School account confirmation</h3>
                            <p class="text-medium-emphasis">Set up your password</p>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="cil-lock-locked icon"></i>
                                </span>
                                {{ form_widget(form.plainPassword, {'attr': {'placeholder': 'Password'}}) }}
                            </div>
                            <button class="btn btn-block btn-success" type="submit">Create Account</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
