@import "_variables";
.btn {
  cursor: pointer;
}

.header-items-right {
  justify-content: flex-end !important;
}

.fake-avatar {
  min-width: 50px;
  min-height: 50px;
  background: antiquewhite;
}

.app-loading {
  background: #ebedef !important;
}

.app-clickable {
  cursor: pointer;
}

.app-menu-container {
  position: relative;
  overflow-y: scroll;
}

.table th, .table td {
  padding: 5px;
}

.app-bg-admin {
  background-color: #{$app-color-admin};
}
.app-bg-school {
  background-color: #{$app-color-school};
}
.app-bg-student {
  background-color: #{$app-color-student};
}
.app-text-admin {
  color: #{$app-color-admin};
}
.app-text-school {
  color: #{$app-color-school};
}
.app-text-student {
  color: #{$app-color-student};
}