$btn-disabled-opacity: .35 !default;
$spacer: 0.5rem;
$paragraph-margin-bottom: 0.5rem;
$header-min-height: 3rem;
$sidebar-brand-height: 3rem;
$sidebar-nav-link-color: white;
$app-color-admin: rgb(191 79 154);
$app-color-school: rgb(91 131 199);
$app-color-student: rgb(86 162 111);