$enable-deprecation-messages: false;
$btn-disabled-opacity: .35 !default;
$spacer: 0.5rem;
$paragraph-margin-bottom: 0.5rem;
$header-min-height: 3rem;
$sidebar-brand-height: 3rem;
$sidebar-nav-link-color: white;
$app-color-admin: rgb(193, 10, 31);
$app-color-school: rgb(45, 93, 172);
$app-color-student: rgb(52, 125, 76);
