<!doctype html>
<html lang="en" data-bs-theme="auto" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="utf-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22&gt;&lt;text y=%221.2em%22 font-size=%2296%22&gt;AB&lt;/text&gt;&lt;/svg&gt;" style="box-sizing: border-box;">
</head>
<body style="box-sizing: border-box;">
<div class="tab-pane fade active p-3 preview show" style="box-sizing: border-box;transition: opacity .15s linear;padding: 1rem!important;">
    <div class="card text-center" style="box-sizing: border-box;position: relative;display: flex;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,21,.125);border-radius: .25rem;text-align: center!important;">
        <div class="card-body" style="box-sizing: border-box;flex: 1 1 auto;padding: 1rem;color: unset;"><h5 class="card-title" style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;color: unset;font-size: 1.25rem;">We are glad to see you joined!</h5>
            <p class="card-text" style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;">Please set up your password and other details here:</p>
            <a class="btn btn-primary" type="button" href="{{ url }}" style="box-sizing: border-box;color: white;text-decoration: none;cursor: pointer;-webkit-appearance: button;display: inline-block;font-weight: 500;line-height: 2;text-align: center;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;background-color: #198754; border: 1px solid #00864e;padding: .375rem .75rem;font-size: 1rem;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;">Complete registration</a>
        </div>
        <div class="card-footer text-medium-emphasis" style="box-sizing: border-box;padding: .5rem 1rem;color: rgba(44,56,74,.681)!important;background-color: rgba(0,0,21,.03);border-top: 1px solid rgba(0,0,21,.125);border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);">This link will expire in 5 days.</div>
    </div>
</div>
</body>
</html>