<p>Registration Link:</p>

{% set url = url('school_member_register', {
    'invitationToken': invitationToken,
    'schoolId': schoolId
}) %}

<p>
    <a href="{{ url }}" target="_blank">Join</a>
</p>