<!doctype html>
<html lang="en" data-bs-theme="auto" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
    <meta charset="utf-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,&lt;svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22&gt;&lt;text y=%221.2em%22 font-size=%2296%22&gt;AB&lt;/text&gt;&lt;/svg&gt;" style="box-sizing: border-box;">
</head>
<body style="box-sizing: border-box;">
<table style="border-collapse: collapse;margin-left: auto;margin-right: auto;width: 100%;padding: 1rem!important;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,21,.125);border-radius: .25rem;text-align: center!important;">
    <tr>
        <th>
            <h5 style="box-sizing: border-box;margin: 15px 0 0 0;font-weight: 500;line-height: 1.2;color: black;font-size: 1.25rem;">Welcome to Enrollment Demo App!</h5>
        </th>
    </tr>
    <tr>
        <td>
            <p style="color: rgb(44 56 74 / 86%)!important;font-size: 15px;box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;">Please confirm your email address by clicking the following link:</p>
            <a type="button" href="{{ signedUrl|raw }}" style="margin: 14px 0;color: rgba(255, 255, 255, 0.87);text-decoration: none;cursor: pointer;display: inline-block;font-weight: 400;line-height: 1.5;text-align: center;vertical-align: middle;background-color: #321fdb!important;border: 1px solid #321fdb;padding: .375rem .75rem;font-size: 1rem;border-radius: .25rem;">Confirm my Email</a>
        </td>
    </tr>
    <tr>
        <td style="display: block;padding: 0;margin: 0;" bgcolor="ghostwhite">
            <div style="padding: .5rem 1rem;color: rgba(44,56,74,.681)!important;border-top: 1px solid rgba(0,0,21,.125);border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);">This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}
            </div>
        </td>
    </tr>
</table>
</body>
</html>