{% extends 'auth.html.twig' %}

{% block title %}Log in as a school!{% endblock %}

{% block body %}
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1>Login</h1>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <p class="text-medium-emphasis">Sign In to your account</p>
                                <form method="post">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="cil-user icon"></i>
                                        </span>
                                        <input type="email" value="{{ last_username }}"
                                                placeholder="Password"
                                                name="email" class="form-control"
                                                autocomplete="email" required>
                                        <input type="hidden" name="_csrf_token"
                                                value="{{ csrf_token('authenticate') }}"
                                        >
                                    </div>
                                    <div class="input-group mb-4">
                                        <span class="input-group-text">
                                            <i class="cil-lock-locked icon"></i>
                                        </span>
                                        <input type="password" name="password"
                                                class="form-control"
                                                autocomplete="current-password" required>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary px-4" type="submit">Login</button>
                                        </div>
                                        {#                                        <div class="col-6 text-end"> #}
                                        {#                                            <button class="btn btn-link px-0" type="button">Forgot password?</button> #}
                                        {#                                        </div> #}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <p>Our user-friendly platform simplifies the application process and makes it easy for your staff to manage and process applications.</p>
                                    <a href="{{ path('school_register') }}">
                                        <button class="btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
