.btn {
  cursor: pointer;
}

.header-items-right {
  justify-content: flex-end !important;
}

.fake-avatar {
  min-width: 50px;
  min-height: 50px;
  background: antiquewhite;
}

.app-loading {
  background: #ebedef !important;
}
