{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="/signin.css" rel="stylesheet"/>
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}

    <body class="text-center">
    <div class="cover-container d-flex flex-column h-100 mx-auto p-5 w-50">


        <main role="main" class="inner cover">
            <h1 class="cover-heading">Thank you, {{ schoolName }}!</h1>
            <p class="lead">Please wait for an email with an invitation for the registration.</p>
        </main>


    </div>


    </body>
{% endblock %}
