<!doctype html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
            <div class="sidebar-brand d-md-flex d-none ">
                <i class="sidebar-brand-full icon full"></i>
                <i class="sidebar-brand-narrow icon signet"></i>

            </div>
            <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="nav-icon cil-speedometer"></i>
                        Dashboard
                        <span class="badge badge-sm bg-info ms-auto">NEW</span>
                    </a>
                </li>

            </ul>
            <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
        </div>

        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
            <header class="header header-sticky mb-4">
                <div class="container-fluid">
                    <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                        <i class="icon icon-lg cil-menu"></i>

                    </button>
                    <a class="header-brand d-md-none" href="#">
                        <svg width="118" height="46" alt="CoreUI Logo">
                            <use xlink:href="assets/brand/coreui.svg#full"></use>
                        </svg>
                    </a>

                    <ul class="header-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon icon-lg cil-bell"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon icon-lg cil-list-rich"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="icon icon-lg cil-envelope-open"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header-nav ms-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="avatar-img" style="
                                    min-width: 50px;
                                    min-height: 50px;
                                    background: antiquewhite;
                                "></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end pt-0">
                                <div class="dropdown-header bg-light py-2">
                                    <div class="fw-semibold">Account</div>
                                </div>
                                <a class="dropdown-item" href="#">
                                    <i class="icon me-2 cil-bell"></i>
                                    Updates
                                    <span class="badge badge-sm bg-info ms-2">42</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="icon me-2 cil-envelope-open"></i>
                                    Messages
                                    <span class="badge badge-sm bg-success ms-2">42</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="icon me-2 cil-task"></i>
                                    Tasks
                                    <span class="badge badge-sm bg-danger ms-2">42</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                                    </svg>
                                    Comments
                                    <span class="badge badge-sm bg-warning ms-2">42</span>
                                </a>
                                <div class="dropdown-header bg-light py-2">
                                    <div class="fw-semibold">Settings</div>
                                </div>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                                    </svg>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                                    </svg>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-credit-card"></use>
                                    </svg>
                                    Payments
                                    <span class="badge badge-sm bg-secondary ms-2">42</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-file"></use>
                                    </svg>
                                    Projects
                                    <span class="badge badge-sm bg-primary ms-2">42</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                                    </svg>
                                    Lock Account
                                </a>
                                <a class="dropdown-item" href="#">
                                    <svg class="icon me-2">
                                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                                    </svg>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="header-divider"></div>
                <div class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb my-0 ms-2">
                            <li class="breadcrumb-item">
                                <!-- if breadcrumb is single-->
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <!-- if breadcrumb is single-->
                                <a href="#">Components</a>
                            </li>
                            <li class="breadcrumb-item">
                                <!-- if breadcrumb is single-->
                                <a href="#">Forms</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <span>Layout</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </header>
            <div class="body flex-grow-1 px-3">
                <div class="container-lg">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <footer class="footer fst-italic small">
                Created by Anna Borzenko 2023 (thanks to CoreUI, Bootstrap Admin Template)
            </footer>
        </div>
    </body>
</html>
